
.node .title {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  /* color: rgb(121, 121, 121); */
  color: rgb(31, 31, 31);
  font-weight: 500;
  
  border-radius: 4px 4px 0px 0px;
}

.node {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}