
html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 

  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background-color: rgb(56, 102, 161); */
  background-color: #28292b;
}
